<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="teste.css">
  <title>ONG</title>
</head>
<body>
  <header>
    <div>
      <span>ONG FACAPE</span>
      <a href="/index">Acessar Sistema</a>
    </div>
  </header>
  <main>

  </main>

  <footer>
    <div class="nav">
      <nav>
        <ul>
          <li><a href="#home">Início</a></li>
          <li><a href="#home">Sobre</a></li>
          <li><a href="#home">Projetos</a></li>
          <li><a href="#home">Contatos</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>