* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   height: 150px;
  background-color: #007BFF;
  margin-bottom: 40px;
  padding: 16px;
} */

h1 {
  font-weight: 900;
}



a {
  background-color: black;
  padding: 12px;
  height: 24rem;

  text-decoration: none;
  color: #fff;
}
