* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #414141;

  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    padding: 1rem;
    margin: auto;
  }
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .nav {
    gap: 20rem;
    padding: 2rem;
    margin: auto;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
}
