* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  /* background-color: #1E1E1E; */
  color: #E0E0E0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(90deg, #09090A 0%, #181719 47.57%, #36343B 126.85%, #39363D 126.85%);
  padding: 20px;
  text-align: center;
  border-bottom: 10px solid #0B35C6;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & svg {
    position: fixed;
    width: 200px;
    right: 0;
    margin-top: 90px;
  }
}

header h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2em;
  background-color: #0B35C6;
  padding: 6px;
  border-radius: 4px;
}

header a:hover {
background-color: #fff;
color: #0B35C6;
}

main {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.transacao-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
  width: 1280px;
}

.totais {
  display: flex;
  gap: 2rem;
  color: #09090A;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.entradas {
  border-left: 8px solid #1ad71e;
  padding-inline: 8px;
  border-radius: 8px;
}

.saidas {
  border-left: 8px solid #d70000;
  padding-inline: 8px;
  border-radius: 8px;
}

.total {
  border-left: 8px solid #0B35C6;
  padding-inline: 8px;
  border-radius: 8px;
}

.relatorio {
  display: flex;
  justify-content: space-between;
}

table {
  width: 600px; 
  border-collapse: collapse; 
  background-color: #2A2A2A; 
  border-radius: 8px;
  margin-bottom: 20px; 
  border-radius: 1rem;
  overflow: hidden;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444; 
}

th {
  background-color: #0B35C6;
  color: white; 
  border-radius: 0;
}

tr:hover {
  background-color: #1A1A1A;
}

.transaction-column button {
  background-color: #FF4C4C;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8em;
}

.transaction-column button:hover {
  background-color: #FF1E1E;
}

a { 
  text-decoration: none;
  color: inherit;
}

#success-message {
  position: fixed;
  background-color: #1ad71e;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}