/* Reset básico para margin e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1E1E1E; /* Cor de fundo escura */
  color: #E0E0E0; /* Texto claro */
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

/* Estilo do cabeçalho */
header {
  background-color: #007BFF; /* Azul */
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
  /* border-bottom: 10px solid #0056b3; */
  width: 100%; /* Para ocupar a largura total */
  position: fixed; /* Para manter o cabeçalho fixo */
  top: 0; /* Para posicionar no topo */
  left: 0; /* Para posicionar à esquerda */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

/* Para evitar sobreposição do conteúdo pelo cabeçalho */
main {
  margin-top: 150px; /* Ajuste conforme a altura do cabeçalho */
  width: 100%; /* Para que o main ocupe a largura total */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centraliza horizontalmente */
}

/* Container das transações */
.transaction-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Espaçamento entre o cabeçalho e as transações */

  gap: 2rem;
  max-width: 1280px;
}

/* Estilo da tabela */
table {
  width: 100%; /* Tabela ocupa toda a largura do container */
  border-collapse: collapse; /* Remove espaço entre as células */
  background-color: #2A2A2A; /* Cor de fundo da tabela */
  border-radius: 8px; /* Bordas arredondadas */
  margin-bottom: 20px; /* Espaçamento abaixo da tabela */
  border-radius: 1rem;
  overflow: hidden;
}

/* Estilo para as células da tabela */
th, td {
  padding: 10px;
  text-align: left; /* Alinhamento à esquerda */
  border-bottom: 1px solid #444; /* Borda entre as linhas */
}

/* Estilo para os títulos da tabela */
th {
  background-color: #007BFF; /* Fundo azul para os títulos */
  color: white; /* Texto branco */
  border-radius: 0;
}

/* Espaço entre as linhas da tabela */
tr:hover {
  background-color: #1A1A1A; /* Fundo escuro ao passar o mouse */
}

/* Botões de exclusão */
.transaction-column button {
  background-color: #FF4C4C; /* Vermelho */
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8em;
}

.transaction-column button:hover {
  background-color: #FF1E1E; /* Vermelho mais escuro */
}

/* Total */
.total {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
}
